.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 90%;
  max-width: 45rem;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 1.6rem 6.4rem 1.6rem 1.6rem;
  font-size: 2rem;
  font-weight: 500;
}
.modal > section > p {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.7rem;
  border-top: 1px solid #dee2e6;
}
.modal > section > button {
  width: 100%;
  padding: 6px 12px;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  background-color: #c0c0c0;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
