.floatingButton {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  width: 10rem;
  height: 10rem;
  background-color: #509df6;
  border-radius: 20rem;
  border: none;
  font-size: 2rem;
  color: #333;
  box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
