.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5.5rem;
  background-color: #509df6;
  padding-left: 3rem;
  padding-right: 2rem;
}

.logo {
  width: 13rem;
}
.star {
  padding-right: 1.5rem;
}
.starIcon {
  width: 3rem;
}
