.homeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 10rem;
}
.homeMain > h3 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #002b5c;
  letter-spacing: 0.2rem;
}
.line {
  width: 120rem;
  height: 0.4rem;
  background-color: #002b5c;
}
.homeButton {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}

.categoryText {
  width: 50%;
  padding: 1rem;
  margin-bottom: 2rem;
  color: #000;
  font-size: 1.6rem;
  border: 0.3rem solid #509df6;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
}
.categoryText:focus {
  outline: none;
  border: 0.25rem solid #aed2fb;
  background-color: #aed2fb;
}
.categoryColor {
  width: 10rem;
  height: 4rem;
  margin-top: 0.5rem;
}
.categoryAdd {
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: #fff;
  background-color: #509df6;
  border-radius: 0.5rem;
}

.subMain {
  width: auto;
  margin-top: 1rem;
}
.category {
  display: flex;
  flex-direction: column;
  float: left;
  align-items: center;
  margin-right: 5rem;
  padding: 0.5rem;
  width: 22rem;
  height: 55rem;
  border: 0.4rem solid #002b5c;
  border-radius: 1rem;
  overflow: auto;
}
.cg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19rem;
  height: 6rem;
  font-size: 2rem;
  padding: 1.5rem;
  margin: 0.5rem;
  background-color: #8fc5ff;
  border-radius: 1rem;
}
.list {
  float: right;
  width: 93rem;
  height: 55rem;
  border: 0.4rem solid #002b5c;
  border-radius: 1rem;
  overflow: auto;
}
.notes {
  display: flex;
  text-align: center;
  align-items: center;
  width: 90rem;
  height: 6rem;
  font-size: 2rem;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  margin-left: 1rem;
  border: 0.2rem solid #b1b1b1;
  border-radius: 0.5rem;
}
