.input {
  margin: 0;
  padding: 0;
}
.inputbox {
  padding-left: 1.5rem;
  width: 40rem;
  height: 4.5rem;
  font-size: 2rem;
  border: 0.25rem solid #509df6;
  border-radius: 1rem;
}
.inputbox:focus {
  outline: none;
  border: 0.25rem solid #aed2fb;
  background-color: #aed2fb;
}

/*
    항목 입력 마치면 focus 색으로 유지되게 하고 싶음
*/

.inputline1 {
  padding: 0;
  padding-left: 0.5rem;
  width: 45rem;
  height: 4rem;
  font-size: 2rem;
  border: 0;
  border-bottom: 0.3rem solid #509df6;
}
.inputline1:focus {
  outline: 0;
  border-bottom: 0.3rem solid #1e5ca2;
}
.inputline2 {
  padding: 0;
  padding-left: 0.5rem;
  width: 30rem;
  height: 4rem;
  font-size: 2rem;
  border: 0;
  border-bottom: 0.3rem solid #509df6;
}
.inputline2:focus {
  outline: 0;
  border-bottom: 0.3rem solid #1e5ca2;
}
.inputline3 {
  padding-top: 1rem;
  padding-left: 0.5rem;
  width: 100rem;
  min-height: 50rem;
  overflow-y: scroll;
  resize: none;
  font-size: 2rem;
  border: 0;
  border-top: 0.3rem solid #509df6;
}
.inputline3:focus {
  outline: 0;
  border-top: 0.3rem solid #1e5ca2;
}
