.writeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.writeTop {
  width: 100%;
  display: inline;
  margin-top: 1rem;
  margin-right: 5rem;
}
.writeGoback {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.writeButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
}

.writeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120rem;
  margin-top: 0.5rem;
  margin-bottom: 10rem;
}
.weeksbtn {
  display: flex;
}
.weeks {
  display: flex;
  align-items: center;
  padding: 1.3rem;
  background-color: rgb(235, 235, 235);
  border-radius: 1rem;
}
.weeks > h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
}
.week {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  padding: 7px 12px;
  cursor: pointer;
  margin-right: 10px;
}
.week {
  background-color: rgb(200, 200, 200);
}
.week.selected {
  background-color: #555;
  color: rgb(255, 255, 255);
}

.writeSub {
  margin-top: 2rem;
}
.writeFirst {
  display: flex;
  justify-content: space-between;
}
.writeSecond {
  margin-top: 4rem;
}
