.button {
  margin: 0;
  padding: 0;
}
.buttonbox {
  width: 40rem;
  height: 4.8rem;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: white;
  border: 0.25rem solid #509df6;
  background-color: #509df6;
  border-radius: 1rem;
}
.buttonbox:hover {
  outline: none;
  color: white;
  border: 0.25rem solid #1f5fa8;
  background-color: #1f5fa8;
}
