.input {
  margin: 0;
  padding: 0;
}
.inputbox {
  padding-left: 1.5rem;
  width: 40rem;
  height: 4.5rem;
  font-size: 2rem;
  border: 0.25rem solid #509df6;
  border-radius: 1rem;
}
.inputbox:focus {
  outline: none;
  border: 0.25rem solid #aed2fb;
  background-color: #aed2fb;
}

/*
    항목 입력 마치면 focus 색으로 유지되게 하고 싶음
*/
