.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 7rem;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoImg1 {
  width: 17rem;
  padding-bottom: 2rem;
}
.logoImg2 {
  width: 22rem;
  padding-bottom: 5rem;
}
.loginInput {
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 15rem;
}

.loginInput > h5 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #002b5c;
}
.loginButton {
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-top: 4rem;
}
.gotoSignup {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}
.signup {
  border: none;
  background: none;
  font-size: 2rem;
  font-weight: 700;
  color: #509df6;
}
.signup:hover {
  border: none;
  background: none;
  font-size: 2rem;
  font-weight: 700;
  color: #1f5fa8;
}
